*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
}

.App-content{
  background-color: hsl(248, 32%, 49%);
  min-height: 100vh;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:3rem ;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-content .Main{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Main h2{
    text-align: left;
    margin: 1rem 0;
    font-weight: 300;
    font-style: italic;
}

